.box
{
	border-width: 2px;
	border-top-style: solid ;
	border-bottom-style: solid;
	border-color: #EEEEEE;
	position: relative;
	display: block;
	height: 74px;
	width: 574px;
	background-color: #F7F7F7
}

img {
	max-height: 100%;
	max-width: 100%;
}

.avatar
{
	float:left;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	height: 54px;
	width: 54px;
}

.username
{
	position: absolute;
	top: -3px;
	font-weight: bold;
	padding-left: 80px;
	font-family: Arial;
	font-size: 12px;
}

.comment
{
	position: absolute;
	top: 13px;
	padding-left: 80px;
	font-family: helvetica;
	font-size: 12px;
}

.timestamp
{

	float:right;
	margin-right:10px;
	margin-top: 10px;
	font-family: helvetica;
	font-size: 11px;
	color: #C3C1BF;
}

.userref
{
	color: #59778B;
}